.custom-bg {
  background-color: #A7D7C5; 
}

.fab {
  font-size: 1.2rem;
}

.carousel-item img {
    border: none;
  }
  
.carousel-item img {
    background-color: #f0f0f0;
    height: 450px;
    object-fit: cover;
  }
  
  .custom-card {
    border: none;
    border-radius: 0;
  }
  
  .custom-card img {
    background-color: #cccccc;
    height: 200px;
    border-radius: 0;
  }

  .square-img {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bd-footer a {
    text-decoration: none;
    color: #000;
  }
  
  .bd-footer a:hover {
    text-decoration: none;
    color: #000;
  }

  
  